html, body, figure, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Karla', sans-serif;
  text-align: inherit;
  opacity: 1;
}

html {

}

h1{
  text-align: center;
}

ul {
  width: 960px;
  margin: 0 auto;
  position: relative;
  color: red;
  z-index: -1;
}

li {
  width: 60px;
  height: 60px;
  float: left;
  list-style: none;
  outline: 1px solid black;
  background: gray;
  z-index: -1;
}

.square {
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 10;
}

.nostyle {
  outline: none;
  background: none;
}

.gameover {
  display: none;
  color: white;
  z-index: 100;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  height: 100vh;
  align-items: center;
  position: absolute;
}

.cf:after {
  content: "";
  display: block;
  clear: both;
}

.square-dark {
  background: cornflowerblue;
  outline: 1px solid black;
}

.square-light {
  background: white;
  outline: 1px solid black;
}

.fixed {
  transition: all 0.1s linear;
}

.square-dark.delete {
  border: 6px solid white;
  opacity: 0.7;
  box-sizing: border-box;
}

.square-light.delete {
  background: grey;
  border: 6px solid white;
  opacity: 0.7;
  box-sizing: border-box;
}

.title {
  font-size: 72px;
  margin-bottom: 50px;
  color: white;

}

.instructions {
  color: white;
  z-index: 100;
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  height: 100vh;
  align-items: center;
  position: absolute;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0.6;
  z-index: 99;
  position: absolute;
}

.instructiontitle, .gameovertext {
  margin-bottom: 5px;
  font-size: 36px;
}

.score {
  padding-top: 5px;
}

.textbox {
  background: #656363;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 10px solid #474747;
}

span {
  text-shadow: 1px 1px black;
}

.game {
  height: 800px;
  min-width: 70vw;
  border-radius: 1%;
  background-color: rgba(0,0,0,0.7);
  z-index: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 0px 0px 35px 9px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 35px 9px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 35px 9px rgba(0,0,0,0.75);
}

.gamecontainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -2;
  background-image: url("bluehexbg.jpg");
}

.scanline {
  height: 480px;
  background: white;
  width: 3px;
  top: 120px;
  position: absolute;
  left: 0px;
}

.scan {
  -webkit-animation: motionblur 2s ease-in-out infinite;
  animation: motionblur 2s ease-in-out infinite;
}



@-webkit-keyframes motionblur {
  0%
  {
    left: 0;
    text-shadow: 0 0 0 rgba(255,255,255,0);
    box-shadow: 0 0 0 rgba(200,0,0,0);
  }
  5%
  {
    left: 0;
  }
  25%
  {
    text-shadow: -5px 0 5px rgba(255,255,255,1);
    box-shadow: -15px 0 10px -5px rgba(200,0,0,0.5);
  }
  50%
  {
    left: 960px;
    text-shadow: 0 0 0 rgba(255,255,255,0);
    box-shadow: 0 0 0 rgba(200,0,0,0);
  }
  55%
  {
    left: 960px;
  }
  75%
  {
    text-shadow: 5px 0 5px rgba(255,255,255,1);
    box-shadow: 15px 0 10px -5px rgba(200,0,0,0.5);
  }
	100%
  {
    left: 0px;
    text-shadow: 0 0 0 rgba(255,255,255,0);
    box-shadow: 0 0 0 rgba(200,0,0,0);
  }
}

@keyframes motionblur {
  0%
  {
    left: 0;
    text-shadow: 0 0 0 rgba(255,255,255,0);
    box-shadow: 0 0 0 rgba(200,0,0,0);
  }
  5%
  {
    left: 0;
    transform-origin: 0 0;
  }
  25%
  {
    text-shadow: -5px 0 5px rgba(255,255,255,1);
    box-shadow: -15px 0 10px -5px rgba(200,0,0,0.5);

  }
  50%
  {
    left: 960px;
    text-shadow: 0 0 0 rgba(255,255,255,0);
    box-shadow: 0 0 0 rgba(200,0,0,0);

  }
  55%
  {
    left: 960px;
    transform-origin: 100% 0;

  }
  75%
  {
    text-shadow: 5px 0 5px rgba(255,255,255,1);
    box-shadow: 15px 0 10px -5px rgba(200,0,0,0.5);
  }
	100%
  {
    left: 0px;
    text-shadow: 0 0 0 rgba(255,255,255,0);
    box-shadow: 0 0 0 rgba(200,0,0,0);
  }
}
